.conteudos-home{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    font-size: large;
    box-sizing: border-box;
    width: 100%;

    /* DESCOMENTAR ISSO PARA FICAR MAIS BONITO O SITE*/
    height: calc(100vh - 5rem);  /* Fazendo essa div ocupar todo o espaço restante da tela */
    transition: all 1s ease;
}

/* Dados */

.dados{
    margin-right: 1rem;
    /* background-color: green; */
    /* flex: 1; */
}

.dados-textos{
    padding: 1rem;
    padding-left: 0;
    /* background-color: blueviolet; */
    width: 400px;
}

h1, h2{
    text-align: center;
}

@media only screen and (max-width: 600px){
    .conteudos-home{
        display: inline;
        max-width: 100%;
        margin: 0;
    }

    .dados-textos{
        width: auto;
    }

    .dados-textos{
        padding: 0;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        overflow-wrap: break-word;
    }

    .dados-inputs form{
        width: auto;
        padding: 0.5rem;
    }
}

.dados-inputs{
    /* background-color: orange; */
}

.dados-inputs form{
    display: flex;
    flex-direction: column;
    flex: 0;
}

.dados-inputs input{
    padding: 0.5rem;
    padding-left: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
    /* border-width: 0px 0px 2px; */
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    /* width: 50%; */
}


.dados-inputs button{
    margin-top: 10px;
    border-radius: 5px;
    /* padding: 5px; */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(63, 72, 204);
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

.dados-inputs button:hover{
    background-color: rgb(110, 117, 214);
    transition-delay: 0.1s;
}
