.conteudos-contado{
    background-color: orange;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    height: 100%; 
    transition: all 1s ease;
}

/* Titulo da Página */

.titulo-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
}

/* Area com as divs de contato */

.container-contatos{
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    max-height: auto;
}

/* As divs de contato */

.opcao-contato{
    box-sizing: border-box;
    background-color: rgb(63, 72, 204);
    color: white;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    margin: 2rem;
    width: 450px;
    height: 600px;
    padding: 10px 15px;
    /* overflow: auto; */
    margin-top: 12px;
    font-size: large;
    transition: all 1s ease;
}


@media (min-height: 900px){
    .conteudos-contado{
        height: calc(100vh - 50px);
    }
}

@media (max-width: 780px){
    .conteudos-contado{
        height: calc(100% + 1rem);
        /* justify-content: center; */
    }

    .container-contatos{
        /* background-color: pink; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .opcao-contato{
        max-width: 100%;
        height: 100%;
    }

}

/* Formulario da Primeira div */


/* Container da Segunda div */

.container-redes{
    /* background-color: blue; */
    display: grid;
    padding: 5px;
    grid-template-columns: 1fr 1fr;
    height: calc(100% - 11rem);
    margin-bottom: 100px;
    /* text-align: center; */
    /* align-items: center; */
    /* height: 100%; */
}

.redes{
    /* background-color: orange; */
    border: solid;
    border-radius: 5px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    transition: all 1s ease;
}

@media (max-width: 780px){
    .container-redes{
        height: 250px;
    }

    .redes{
        height: 170px;
    }
}