.pagina-toda{
  display: flex;
  /* margin: 0; */
  /* padding: 0; */
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  box-sizing: border-box;
}


/* Menu */

.menu{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  background-color: rgb(63, 72, 204);
  height: 5rem;
  transition: all 1s ease;
}

.menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li{
  display: inline-block;
  padding: 10px;
}

.menu li * {
  text-decoration: none;
  color: white;
  padding: 5px;
  /* background-color: green; */
  border-radius: 5px;
}

.menu li *:hover {
  background-color: white;
  color: black;
}


.container-lista{
  margin-right: 0;
  /* background-color: brown; */
}
.container-tema{
  padding-right: 1rem;
  /* border-color: transparent; */
  /* border-radius: 2px; */
  /* margin-left: 1000px; */
  /* background-color: blueviolet; */
}

.container-tema button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-color: transparent;
  color: white;
  border-color: transparent;
  transition: all 1s ease;
  border-radius: 2px;
  cursor: pointer;
}

.container-tema button:hover{
  background-color: white;
  color: black;
}
